@page "/"

<Meta property="og:title" content="Alethia Island - Home" />

<h2>Welcome to Alethia Island.</h2>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}