@page "/"

<h2>Welcome to Alethia Island.</h2>

@md

@code {
    MarkupString md = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}