@page "/links"

<Title Value="Alethia Island - Links"></Title>

@md

@code {
    [Inject]
    HttpClient Http { get; set; }

    MarkupString md = new();

    protected override async Task OnInitializedAsync()
    {
        md = new(await Http.GetMarkdownAsHtml($"{AppConfig.LinksRepo}/links.md"));
        await base.OnInitializedAsync();
    }
}