@inherits LayoutComponentBase

<Link href="css/themes/default.css" rel="stylesheet" />
<Title Value="Alethia Island"></Title>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<div class="top-row px-4">

        </div>*@
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
