@inherits LayoutComponentBase

<HeadContent>
    <link href="css/themes/default.css" rel="stylesheet" />
</HeadContent>
<PageTitle>Alethia Island</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
