<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="https://raw.githubusercontent.com/Alethia-Island/assets/master/images/sandbox/icons/icon-512.png" alt="" height="24" class="d-inline-block align-text-top">
        Alethia Island
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home mr-2" aria-hidden="true"></i> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="general">
                <i class="fas fa-info-circle mr-2" aria-hidden="true"></i> General Info
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox/rules">
                <i class="fas fa-scroll mr-2" aria-hidden="true"></i> Sandbox Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox/help/help-points">
                <i class="fas fa-question-circle mr-2" aria-hidden="true"></i> Help Points
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox/areas/privacy">
                <i class="fas fa-user-shield mr-2" aria-hidden="true"></i> Privacy Areas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="links">
                <i class="fas fa-link mr-2" aria-hidden="true"></i> Links
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <i class="fas fa-address-card mr-2" aria-hidden="true"></i> Contact Us
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
